.admin #main_container {
	margin-top:80px;
}

.admin ul li a.admin-logo {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #fff;
}

.admin ul li a.admin-logo:hover, .admin ul .open a.admin-logo {
	background-color:#FFF;
}

.admin .navbar .nav .admin-logo .caret {
	margin-top:18px;
}

/** Pricing **/
.pricing .pricing-block input {
	margin-right:10px;
}

.product-manager .form-inline label {
	margin:10px 0;
}