/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * Sometimes an inline label is needed
 */
label.inline {
    display:inline-block;
}

label .caret {
    margin-top:4px;
    margin-left:10px;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-bottom:60px;
    padding-top:20px;
    font:12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

[class*="span"]:first-child {
  margin-left: 0;
}

.container {
    margin: 0 auto;
    max-width: 1010px;
}
.container > hr {
    margin: 60px 0;
}

.logo {
    width:350px;
    height:150px;
    overflow:hidden;
}
.logo a {
    display:block;
    text-indent: 10000px;
}

.logo .container {
    width:auto;
}

.logo h6 {
    position:relative;
    top:-30px;
}

.main .navbar .navbar-inner {
    padding:0;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.main .navbar .navbar-inner {
    padding: 0;
}
.main .navbar .navbar-inner {
    background-image: url(/assets/img/nav_bg.jpg);
}
.main .navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}
.main .navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}
.main .navbar .nav li .dropdown-menu li {
    display:block;
    width:100%;
    text-align:left;
}
.main .navbar .nav li .dropdown-menu li a {
    text-align:left;
}
.main .navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
    white-space: nowrap;
}
.main .navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.main .navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}
.featured {
    border:1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom:10px;
}
.featured ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

.shannon-christy a {
    color:#fff;
    font-size:1.9em;
    position:relative;
    top:-20px;
}
.featured ul li {
    background: #f4f4f4;
    background: linear-gradient(to bottom,rgba(244,244,244,1) 0,rgba(248,248,248,1) 100%);
    background: -moz-linear-gradient(top,rgba(244,244,244,1) 0,rgba(248,248,248,1) 100%);
    background: -ms-linear-gradient(top,rgba(244,244,244,1) 0,rgba(248,248,248,1) 100%);
    background: -o-linear-gradient(top,rgba(244,244,244,1) 0,rgba(248,248,248,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(244,244,244,1)),color-stop(100%,rgba(248,248,248,1)));
    background: -webkit-linear-gradient(top,rgba(244,244,244,1) 0,rgba(248,248,248,1) 100%);
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4",endColorstr="#ffffff",GradientType=0);
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    widtH:248px;
}
.featured ul li:first-child {
    border-top-left-radius: 4px;
    moz-border-radius-topleft: 4px;
    webkit-border-top-left-radius: 4px;
}
.featured ul li:last-child {
    border-top-right-radius: 4px;
    moz-border-radius-topright: 4px;
    webkit-border-top-right-radius: 4px;
}
.featured ul li:hover {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    cursor: pointer;
}
.featured ul li a {
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
    display: block;
    min-height: 1px;
    padding: 18px 0 8px 0;
}
.featured ul li a.product-link:hover {
    background-color: transparent;
    moz-transition: background-color .2s ease-in;
    ms-transition: background-color .2s ease-in;
    o-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
    webkit-transition: background-color .2s ease-in;
}
.featured ul li a:after {
    content: none;
}
.featured ul li a.product-link {
    background-color:#ffffff;
}
.featured ul li a .featured-text {
    overflow: hidden;
    position: absolute;
    width:250px;
    top:100px;
    background:#EEE;
}
.featured ul li a img {
    display:inline-block;
}
.sidebar-nav {
    width:200px;
}
.sidebar-nav .products-nav {
     padding:0;
     margin:0;
}
.products-nav .title-bar {
    background: none repeat scroll 0 0 #596167;
    color: #FFFFFF;
    border-right:1px solid #596167;
    border-left:1px solid #596167;
}
.products-nav .title-bar.first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.products-nav > .title-bar h2 {
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    padding: 5px 0 5px 12px;
    text-shadow: 1px 1px 1px #224272;
    margin:0;
}
.sidebar-nav .products-nav ul {
    list-style-type:none;
    margin-left:0px;
}
.products-nav ul li a {
    text-decoration: none;
    color:#333333;
    display:block;
    padding:3px 0px 3px 15px;
}
.products-nav ul li a:hover {
    color:#0088CC;
}
.products-nav ul li.highlight {
    background-color:#E5e5e5;
}
.right-nav {
    width:190px;
}
.right-nav blockquote p {
    font-size:14px;
    color:#0088cc;
    font-weight:bold;
}
.content-box {
    margin-bottom:10px;
    margin-left:20px;
}
.content {
    border:1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom:10px;
    position:relative;
}
.content .carousel .carousel-control {
    bottom:10px;
}
.carousel .carousel-inner .carousel-caption {
    background: none;
}

.content .carousel {
    margin-bottom:0;
}
.three-steps .three {
    color: #03b0f2;
    display: block;
    float: left;
    font-size: 84px;
    font-weight: bold;
}

.three-steps .easy-steps {
    color: #03b0f2;
    display: block;
    float: left;
    font-size: 36px;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
.three-steps ol {
    list-style-type: decimal;
    font-size:14px;
}
.three-steps ol li {
    margin:5px 0;
}
.three-steps.carousel-caption {
    bottom:110px;
    left:20px;
}
#money_back .carousel-caption {
    font-size:2.5em;
    height:280px;
    width:200px;
    line-height:50px;
    margin-top:20px;
    padding:10px;
    margin-left:40px;
    position:absolute;
    top:20px;
}
#rush .carousel-caption {
    height: 280px;
    width: 350px;
    font-size: 2.5em;
    line-height: 70px;
    position: absolute;
    left: 180px;
    top: 20px;
}

#rush .carousel-caption span {
    display:block;
}
.preview-box {
    width:400px;
    margin:20px auto;
    text-align: center;
    overflow:hidden;
}
.preview-box .progress {
    position:absolute;
    top:40%;
    left:50%;
    margin-left:-150px;
    width:300px;
}
.preview-box img {
    max-width:none;
}
.preview-outline {
    width:97%;
    height:97%;
    margin:5px;
    border:1px dashed #C5CB75;
}
.fileupload {
    padding:0 10px;
}

.product-details-container {
    padding:3px;
}

.product-details-container label, .product-details-container input, .product-details-container select {
    font-size:10px;
    line-height:14px;
    padding:0;
    margin-bottom:0;
    margin-left:0px;
}

.product-details-container label {
    font-weight:bold;
}

.product-details-container select {
    height:20px;
}

.product-details-container h6 {
    margin:0;
}

.product-attribute {
    margin-bottom:8px;
}

.attribute-group.additional {
    display:none;
}

.product-attribute label img {
    width:50px;
}

.product-attribute .btn {
    padding: 0;
    line-height: 15px
}

.product-attribute label input[type="radio"] {
    visibility: hidden;
}

.show-radio label input[type="radio"] {
    visibility: visible;
    margin-left:0px;
    margin-right:5px;

}
/*form .attribute-group {
    margin-bottom:200px;
}*/

.page-text {
    margin-bottom:20px;
    border-bottom:1px solid #E3E3E3;
}

.checkout .container {
    margin-top:10px;
    margin-bottom:10px;
}


.footer {
    margin-top:40px;
    padding-top:10px;
    border-top:1px solid #E3E3E3;
}

.footer .pull-left {
    margin-right:10px;
}

.chat-box {
    background:transparent url(/assets/img/chat_agent.jpg) center center no-repeat;
    width:190px;
    height:69px;
}

.chat-box .lead {
    position:absolute;
    left:30px;
    top:5px;
}

#VolusionLiveChat {
  position:absolute;
}

.home-content {
    height:450px;
}

.input-small.state {
    width:50px;
}

.summary-preview{
    height:150px;
}

.product-summary .row {
    margin-bottom:5px;
}

.product-summary .row .summary-item {
    border-bottom:1px solid #e5e5e5;
}

.checkout fieldset {
    padding-bottom:20px;
}

.confirmation address {
    text-transform: uppercase;
}

.questions {
    position:relative;
    top:60px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
